@{
    ViewBag.Title = "Contact";
}
<h3>Flavio H Sousa</h3>

<address>
    Avenida T-13 786 Setor Bueno<br />
    Goiânia, GO 74230-050<br />
    <div>Cell: 62.9.8623.6090</div>
</address>

<address>
   <a href="mailto:flavioh007@gmail.com">FlavioH007@gmail.com</a><br />
</address>