@{
    ViewBag.Title = "Contact";
}
<h3>Flavio H Sousa</h3>



<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" type="text/css">
<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom icon Fonts -->
<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Animated CSS -->
<link href="css/animate.css" media="all" rel="stylesheet" type="text/css" />
<address>
    Avenida T-13 786 Setor Bueno<br />
    Goiânia, GO 74230-050<br />
    <div><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 62.9.8623.6090</div>
    <div><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 62-9-9664-0173</div>
</address>

<address>
    <a href="mailto:flavioh007@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  FlavioH007@gmail.com</a><br />
</address>