@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Flavio Henrique de Sousa</h1>
    <p class="lead">
        <div>Seja bem vindo ao meu site pessoal! Aqui é o lugar certo para você ver meu currículo online e poder conhecer um pouco das minhas habilidades com HTML e C#</div>
        <br />
        <div>Programador C# ASP.NET MVC com mais de 5 anos de experiência. As habilidades e a experiência que obtive ao longo do meu trabalho e acadêmicos sustentam meu forte interesse nessa carreira.</div>
    </p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Saiba Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="">
        <h2>Obrigado por visitar o meu site / currículo profissional!</h2>
    </div>
</div>